<table class="rwd-table">
  <tr>
    <th>Semester</th>
    <th>TGPA</th>
    <th>Year</th>
  </tr>
  <tr>
    <td data-th="semno">{{semNo1}}</td>
    <td data-th="tgpa">{{tgpa1}}</td>
    <td data-th="Year">2018</td>
  </tr>
  <tr>
    <td data-th="semno">{{semNo2}}</td>
    <td data-th="tgpa">{{tgpa2}}</td>
    <td data-th="Year">2019</td>
  </tr>
  <tr>
    <td data-th="semno">{{semNo3}}</td>
    <td data-th="tgpa">{{tgpa3}}</td>
    <td data-th="Year">2019</td>
  </tr>
    <tr>
    <td data-th="semno">{{semNo4}}</td>
    <td data-th="tgpa">{{tgpa4}}</td>
    <td data-th="Year">2020</td>
  </tr>
    <tr>
    <td data-th="semno">{{semNo5}}</td>
    <td data-th="tgpa">{{tgpa5}}</td>
    <td data-th="Year">2020</td>
  </tr>
</table>
