<main id="iPad">
      <img src="./images/heading-text-2.png" class="heading-text" />
      <header class="sale-items">
        <div class="col">Model</div>
        <div class="col">MRP</div>
        <div class="col">Discount</div>
        <div class="col">Offer Price</div>
      </header>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPad Air (New) - 10.9 inch</b> 64GB <br><span> Wifi</span></div>
        <div class="col">₹54,900</div>
        <div class="col"> {{iPad1Discount}} </div>
        <div class="col"> {{iPad1OfferPrice}} </div>
        </a>
      </div>

     <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPad Air (New) - 10.9 inch</b> 64GB <br><span> Wifi + Cellular</span></div>
        <div class="col">₹66,900</div>
        <div class="col"> {{iPad2Discount}} </div>
        <div class="col"> {{iPad2OfferPrice}} </div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPad (8th Gen) (New) - 10.2 inch</b> 32GB <br><span> Wifi</span></div>
        <div class="col">₹29,900</div>
        <div class="col"> {{iPad3Discount}} </div>
        <div class="col"> {{iPad3OfferPrice}} </div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPad (8th Gen) (New) - 10.2 inch</b> 32GB <br><span> Wifi + Cellular</span></div>
        <div class="col">₹41,900</div>
        <div class="col"> {{iPad4Discount}} </div>
        <div class="col"> {{iPad4OfferPrice}} </div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPad Air - 10.5 inch</b> 64GB <br><span> Wifi</span></div>
        <div class="col">₹44,900</div>
        <div class="col"> {{iPad5Discount}} </div>
        <div class="col"> {{iPad5OfferPrice}} </div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPad Pro (4th Gen) - 12.9 inch</b> 128GB <br><span> Wifi</span></div>
        <div class="col">₹89,900</div>
        <div class="col"> {{iPad6Discount}} </div>
        <div class="col"> {{iPad6OfferPrice}} </div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPad Pro (3rd Gen) - 12.9 inch</b> 256GB <br><span> Wifi</span></div>
        <div class="col">₹1,03,900</div>
        <div class="col"> {{iPad7Discount}} </div>
        <div class="col"> {{iPad7OfferPrice}} </div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPad mini</b> 64GB <br><span> Wifi</span></div>
        <div class="col">₹34,900</div>
        <div class="col"> {{iPad8Discount}} </div>
        <div class="col"> {{iPad8OfferPrice}} </div>
        </a>
      </div>
      <p class="tcc">* T&C apply. Instant discount valid till 28 Mar.</p>
    </main>