<main id="iPhone">
      <img src="./images/heading-text-1.png" class="heading-text" />
      <header class="sale-items">
        <div class="col">Model</div>
        <div class="col">MRP</div>
        <div class="col">Discount</div>
        <div class="col">Offer Price</div>
      </header>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPhone 12 mini</b> 64GB</div>
        <div class="col">₹69,900</div>
        <div class="col">{{iPhone1Discount}}</div>
        <div class="col">{{iPhone1OfferPrice}}</div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPhone 12 Pro Max</b> 128GB</div>
        <div class="col">₹1,29,900</div>
        <div class="col">{{iPhone2Discount}}</div>
        <div class="col">{{iPhone2OfferPrice}}</div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPhone 12 Pro</b> 128GB</div>
        <div class="col">₹1,19,900</div>
        <div class="col">{{iPhone3Discount}}</div>
        <div class="col">{{iPhone3OfferPrice}}</div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPhone 12</b> 64GB</div>
        <div class="col">₹79,900</div>
        <div class="col">{{iPhone4Discount}}</div>
        <div class="col">{{iPhone4OfferPrice}}</div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPhone 11 Pro Max</b> 64GB</div>
        <div class="col">₹1,17,100</div>
        <div class="col">{{iPhone5Discount}}</div>
        <div class="col">{{iPhone5OfferPrice}}</div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>iPhone 11</b> 64GB</div>
        <div class="col">₹54,900</div>
        <div class="col">{{iPhone6Discount}}</div>
        <div class="col">{{iPhone6OfferPrice}}</div>
        </a>
      </div>
      <p class="tcc">* T&C apply. Instant discount valid till 28 Mar.</p>
    </main>

    