<main id="Mac">
      <img src="./images/heading-text-3.png" class="heading-text" />
      <header class="sale-items">
        <div class="col">Model</div>
        <div class="col">MRP</div>
        <div class="col">Discount</div>
        <div class="col">Offer Price</div>
      </header>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>MacBook Air</b> with Apple M1 chip <br><span> 256 GB | 13.3 inch</span></div>
        <div class="col">₹92,900</div>
        <div class="col"> {{Mac1Discount}} </div>
        <div class="col">{{Mac1OfferPrice}}</div>
        </a>
      </div>

     <div class="row">
        <a href="/delivery">
        <div class="col"><b>MacBook Pro</b> with Apple M1 chip <br><span> 256 GB | 13.3 inch</span></div>
        <div class="col">₹1,29,900</div>
        <div class="col">{{Mac2Discount}}</div>
        <div class="col">{{Mac2OfferPrice}}</div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>MacBook Pro</b> with Touch Bar <br><span> 512 GB | 16 inch</span></div>
        <div class="col">₹1,99,900</div>
        <div class="col">{{Mac3Discount}}</div>
        <div class="col">{{Mac3OfferPrice}}</div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>MacBook Pro</b> with Touch Bar <br><span>1.4 Ghz Processor | 8th Gen 256 GB | 13.3 inch</span></div>
        <div class="col">₹1,22,900</div>
        <div class="col">{{Mac4Discount}}</div>
        <div class="col">{{Mac4OfferPrice}}</div>
        </a>
      </div>
      <p class="tcc">* T&C apply. Instant discount valid till 28 Mar.</p>
    </main>