<main id="tv">
      <img src="./images/heading-text-5.png" class="heading-text" />
      <header class="sale-items">
        <div class="col">Model</div>
        <div class="col">MRP</div>
        <div class="col">Discount</div>
        <div class="col">Offer Price</div>
      </header>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>Apple TV</b> HD <br><span> 32 GB</span></div>
        <div class="col">₹14,100</div>
        <div class="col"> {{tv1Discount}} </div>
        <div class="col"> {{tv1OfferPrice}} </div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>Apple TV</b> 4K <br><span> 32 GB</span></div>
        <div class="col">₹17,430</div>
        <div class="col"> {{tv2Discount}} </div>
        <div class="col"> {{tv2OfferPrice}} </div>
        </a>
      </div>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>Apple TV</b> 4K <br><span> 64 GB</span></div>
        <div class="col">₹19,480</div>
        <div class="col"> {{tv3Discount}} </div>
        <div class="col"> {{tv3OfferPrice}} </div>
        </a>
      </div>
      <p class="tcc">* T&C apply. Instant discount valid till 28 Mar.</p>
    </main>