<main id="WATCH">
      <img src="./images/heading-text-4.png" class="heading-text" />
      <header class="sale-items">
        <div class="col">Model</div>
        <div class="col">MRP</div>
        <div class="col">Discount</div>
        <div class="col">Offer Price</div>
      </header>

      <div class="row">
        <a href="/delivery">
        <div class="col"><b>Apple WATCH Series 6</b> GPS <br><span> Aluminium Case | 40mm </span></div>
        <div class="col">₹40,900</div>
        <div class="col"> {{WATCH1Discount}} </div>
        <div class="col"> {{WATCH1OfferPrice}} </div>
        </a>
      </div>


       <div class="row">
        <a href="/delivery">
        <div class="col"><b>Apple WATCH Series 6</b> GPS + Cellular <br><span> Gold Aluminium Case | 44mm </span></div>
        <div class="col">₹52,900</div>
        <div class="col"> {{WATCH2Discount}} </div>
        <div class="col"> {{WATCH2OfferPrice}} </div>
        </a>
      </div>


      <div class="row">
        <a href="/delivery">
        <div class="col"><b>Apple WATCH Series SE</b> GPS <br><span>Silver Aluminium Case | 40mm </span></div>
        <div class="col">₹29,900</div>
        <div class="col"> {{WATCH3Discount}} </div>
        <div class="col"> {{WATCH3OfferPrice}} </div>
        </a>
      </div>


      <div class="row">
        <a href="/delivery">
        <div class="col"><b>Apple WATCH Series SE</b> GPS + Cellular <br><span>Gold Aluminium Case | 44mm </span></div>
        <div class="col">₹36,900</div>
        <div class="col"> {{WATCH4Discount}} </div>
        <div class="col"> {{WATCH4OfferPrice}} </div>
        </a>
      </div>


      <div class="row">
        <a href="/delivery">
        <div class="col"><b>Apple WATCH Series 5</b> GPS + Cellular<br><span> Stainless Steel Case | 44mm </span></div>
        <div class="col">₹69,900</div>
        <div class="col"> {{WATCH5Discount}} </div>
        <div class="col"> {{WATCH5OfferPrice}} </div>
        </a>
      </div>


      <p class="tcc">* T&C apply. Instant discount valid till 28 Mar.</p>
      </main>